# App Configuration
APP_NAME=LDWS Backend
APP_VERSION=0.1.0
DEBUG=true

DATABASE_URL=postgresql+psycopg://username:password@localhost:5432/ldws

# JWT Configuration
JWT_SECRET_KEY=your_jwt_secret_key_here
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=

# Telegram Bot Configuration
TELEGRAM_ENABLED=
TELEGRAM_BOT_TOKEN=
TELEGRAM_API_BASE_URL=
TELEGRAM_DISABLE_NOTIFICATION=
TELEGRAM_PARSE_MODE=
TELEGRAM_DELIVERY_STATE_FILE=

# Tài khoản Admin
SUPER_ADMIN_USERNAME=
SUPER_ADMIN_PASSWORD=

# Postgres (Banking DB)

# Cấu hình cho bên ngoài (DBeaver)
POSTGRES_HOST=
POSTGRES_PORT=

# Cấu hình cho mạng nội bộ (Docker, Debezium, Airflow)
INTERNAL_POSTGRES_HOST=
INTERNAL_POSTGRES_PORT=       

# Thông tin xác thực chung
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=
INTERNAL_MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
MINIO_LOCAL_DIR=

# Airflow DB
AIRFLOW_DB_USER=
AIRFLOW_DB_PASSWORD=
AIRFLOW_DB_NAME=

# Airflow Webserver
AIRFLOW_WEBSERVER_USER=
AIRFLOW_WEBSERVER_FIRSTNAME=
AIRFLOW_WEBSERVER_LASTNAME=
AIRFLOW_WEBSERVER_EMAIL=
AIRFLOW_WEBSERVER_PASSWORD=

# Kafka
KAFKA_BOOTSTRAP=
KAFKA_GROUP=

# Snowflake
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DB=
SNOWFLAKE_SCHEMA=

# MQTT Configuration
MQTT_BROKER=
MQTT_PORT=

# Grafana
GRAFANA_USER=
GRAFANA_PASSWORD=